@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-text-color: #333;
}