.wrapper {
  padding: 0 64px;
  background: white;
  position: sticky;
  box-shadow: 0px 2px 6px -4px #333;
  top: -63px;
  .brand {
    padding: 12px 36px;
    border-bottom: 1px solid darkgray;
    h1 {
      color: var(--primary-text-color);
    }
  }
  .connection {
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .right-section {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .input-wrapper {
      margin-right: 24px;
    }
  }
}